{% extends 'base.html' %}
{% block content %}
<h2 class="center" id="wave" align="center">Wave 1</h2>
<div id="health">💔10</div>
<div id="display"><span>??</span></div>
<input class="center" type="number" placeholder="Type in your guess" id="guess">
<p id="info" align="center"></p>
<div id="check-btn" class="center">Check</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p id="modal-text" align="center">Some text in the Modal..</p>
    </div>
</div>
{% endblock %}>
